
<!-- Crea un nuevo documento HTML que cumpla los siguientes parámetros:
El título debe ser "Ejercicio 02/2 - Tablas en HTML"
El body debe contener una tabla que cumpla las siguientes características
Las columnas serán las siguientes: "Título", "Autor", "Año de publicación", "Enlace a Amazon"
Debe tener tres entradas, que corresponderán a tus tres libros favoritos -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>"Ejercicio 02/2 - Tablas en HTML"</h1>

<table>
    <tr>
        <th>año de publicacion</th>
        <th>titulo </th>
        <th>autor</th>
        <th>Enlace a Amazon</th>
    </tr>

    <tr>
        <td>1888</td>
        <td>hola</td>
        <td>diego</td>
        <td><a href="">libro Amazon</a></td>
    </tr>
    <tr>
        <td>1965</td>
        <td>hola2</td>
        <td>mauro</td>
        <td><a href="">libro Amazon</a></td>
    </tr>
    <tr>
        <td>2014</td>
        <td>hola3</td>
        <td>agustin</td>
        <td><a href="">libro Amazon</a></td>
    </tr>
</table>
</body>
</html>